{% extends 'page_detail.html' %}
{% block body_classes %}frontpage{% endblock %}

{% block body %}
    <div class="container margin-y-4 margin-y-tablet-5">
        <div class="grid">
            <div class="cell-tablet-9">
                <h1>{{ object.heading }}</h1>

                {% if object.lede %}
                    <p class="display-4 margin-bottom-5">{{ object.lede }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="background-white padding-bottom-3">
        <div class="container">{{ object.body }}</div>
    </div>
{% endblock body %}
