{% extends 'base.html' %}
{% block seo_title %}{{ object.seo_title or object.title }}{% endblock %}
{% block body_classes %}page {{ object.slug }}-page{% endblock %}

{% block body %}
    {% if object.featured_image %}
        <header class="hero margin-bottom-n5">
            <div class="container">
                <h1 class="display-1">{{ object.heading }}</h1>

                {% if object.lede %}
                    <p class="display-3 font-weight-normal">{{ object.lede }}</p>
                {% endif %}

                {% if object.cta %}{{ object.cta }}{% endif %}
            </div>
        </header>

        <img alt="" role="presentation" src="{{ object.featured_image.url() }}" class="featured img-fluid margin-top-n5">
        <div class="background-light padding-y-5">
    {% endif %}

    <div class="container">
        <article class="grid">
            {% if not object.featured_image %}
                <header class="hero">
                    <h1 class="display-1">{{ object.heading }}</h1>

                    {% if object.lede %}
                        <p class="display-3 font-weight-normal">{{ object.lede }}</p>
                    {% endif %}

                    {% if object.cta %}{{ object.cta }}{% endif %}
                </header>
            {% endif %}

            <div class="cell-tablet-8">
                <section class="body">{{ object.body }}</section>
            </div>
        </article>
    </div>

    {% if object.featured_image %}</div>{% endif %}
{% endblock body %}
