{% extends 'base.html' %}
{% block seo_title %}{{ object.seo_title or object.title }}{% endblock %}
{% block body_classes %}page {{ object.slug }}-page{% endblock %}

{% block body %}
    {% if object.featured_image %}
        <header class="hero padding-bottom-tablet-0">
            <div class="container">
                <h1 class="display-1">{{ object.heading }}</h1>

                {% if object.lede %}
                    <p class="display-3 font-weight-normal">{{ object.lede }}</p>
                {% endif %}

                {% if object.cta %}{{ object.cta }}{% endif %}
                <img alt="" role="presentation" src="{{ object.featured_image.url() }}" class="featured img-fluid">
            </div>
        </header>

    {% endif %}

    <div class="container">
        <article>
            {% if not object.featured_image %}
                <header class="hero">
                    <h1 class="display-1">{{ object.heading }}</h1>

                    {% if object.lede %}
                        <p class="display-3 font-weight-normal">{{ object.lede }}</p>
                    {% endif %}

                    {% if object.cta %}{{ object.cta }}{% endif %}
                </header>
            {% endif %}

            <section class="body show-flex flex-column justify-content-center">{{ object.body }}</section>
        </article>
    </div>
{% endblock body %}
