{% extends 'base.html' %}
{% block seo_title %}{{ object.seo_title or object.title }}{% endblock %}
{% block body_classes %}post{% endblock %}

{% block body %}
    <article>
        <header class="hero">
            <div class="container">
                <p class="margin-0 text-nowrap" data-aos="fade-up">
                    {% if object.published %}
                        <span>
                            <i class="bi bi-calendar"></i>
                            {{ object.published.strftime('%B %d, %Y') }}
                        </span>
                    {% endif %}

                    <span{% if object.published %} class="margin-start-1"{% endif %}>
                        <i class="bi bi-person-fill"></i>
                        Mark Steadman
                    </span>
                </p>

                <h1 class="display-1 font-weight-bolder" data-aos="fade-up">
                    <a href="{{ object.get_absolute_url }}">{{ object.heading }}</a>
                </h1>

                {% if object.lede %}
                    <p class="display-3 font-weight-normal" data-aos="fade-up" data-aos-delay="300">{{ object.lede }}</p>
                {% endif %}

                {% if object.cta %}
                    <div data-aos="fade-up" data-aos-delay="{% if object.lede %}600{% else %}300{% endif %}">{{ object.cta }}</div>
                {% endif %}

                {% if object.featured_image %}
                    <img alt="" role="presentation" src="{{ object.featured_image.url() }}" class="featured img-fluid">
                {% endif %}
            </div>
        </header>

        <div class="container">
            <section class="body show-flex flex-column justify-content-center">{{ object.body }}</section>
        </div>
    </article>
{% endblock body %}
