{% extends 'base.html' %}
{% block seo_title %}Blog{% endblock %}
{% block body_classes %}post{% endblock %}

{% block body %}
    <header class="hero">
        <div class="container">
            <h1 class="display-1 font-weight-bolder" data-aos="fade-up">{{ BLOG_HEADING }}</h1>

            {% if BLOG_DESCRIPTION %}
                <p class="display-3 font-weight-normal" data-aos="fade-up" data-aos-delay="300">{{ BLOG_DESCRIPTION }}</p>
            {% endif %}
        </div>
    </header>

    <div class="container">
        <div class="grid justify-content-center">
            {% for object in object_list %}
                <a href="{{ object.get_absolute_url() }}" class="show-flex cell-tablet-4 text-dark text-decoration-none margin-bottom-2 rounded overflow-hidden" data-aos="fade-up">
                    <div class="background-white width-100 height-100">
                        {% if object.featured_image %}
                            <img alt="" src="{{ object.featured_image.url() }}" role="presentation" class="img-fluid">
                        {% else %}
                            <img alt="" src="{% media 'img/home-banner.jpg' %}" role="presentation" class="img-fluid">
                        {% endif %}

                        <div class="padding-3">
                            <h2 class="h4 font-weight-bolder margin-top-0">{{ object.title }}</h2>
                            {% if object.lede %}{{ object.lede|markdown }}{% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
