.accordion {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    .section + & {
        margin-top: 0;
    }

    > li.accordion-item {
        margin: 0 0 1rem 0;
        border-radius: $border-radius;
        overflow: hidden;

        > div {
            background: $honey;
            border-radius: $border-radius;
            position: relative;
            display: flex;
            flex-direction: column;

            > img {
                display: none;
                width: 100%;
                order: 2;
            }

            .accordion-header {
                position: relative;
                display: block;
                padding: 1rem;
                color: $dark;
                text-decoration: none;
                z-index: 2;
                order: 1;

                h2 {
                    font-size: 1.5rem;
                    font-weight: $font-weight-bolder;
                    letter-spacing: -.05rem;
                    margin: 0;
                }
            }

            .accordion-content {
                position: relative;
                background: $white;
                padding: 0;
                height: 0;
                overflow: hidden;
                opacity: 0;
                z-index: 2;
                order: 3;

                p:first-child {
                    margin-top: 0;
                }

                p:last-child {
                    margin-bottom: 0;
                }

                h3 {
                    font-size: 1.25rem;
                    font-weight: $font-weight-bolder;
                }
            }
        }

        &.active {
            > div { 
                .accordion-content {
                    height: auto;
                    opacity: 1;
                    padding: 1rem;
                }

                > img {
                    display: block;
                }
            }
        }
    }

    @include media-breakpoint-up('tablet') {
        &.horizontal {
            width: 60%;

            > li.accordion-item {
                > div {
                    flex-direction: row;
                    flex-wrap: wrap;

                    > img {
                        width: 25%;
                        flex-basis: 25%;
                        object-fit: cover;
                        object-position: center;
                    }

                    .accordion-header {
                        width: 100%;
                        flex-basis: 100%;
                    }

                    .accordion-content {
                        width: 100%;
                        flex-basis: 100%;
                    }

                    &:has(img) {
                        .accordion-content {
                            width: 75%;
                            flex-basis: 75%;
                        }
                    }
                }
            }
        }

        &.vertical {
            flex-direction: row;
            flex-wrap: nowrap;
            text-wrap: nowrap;
            gap: 1rem;
            justify-content: start;
            position: absolute;
            width: auto;
            top: 0;
            left: 0;
            bottom: 0;

            > li.accordion-item {
                display: flex;
                flex-direction: row;
                margin-bottom: 0;
                height: 100%;

                > div {
                    flex-direction: row;
                    min-width: 15rem;
                    height: 100%;
                    align-items: center;
                    transition: width .3s ease;

                    &:has(img) {
                        a.accordion-header {
                            color: $light;
                        }
                    }

                    > img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        z-index: 1;
                        filter: grayscale(100%) contrast(50%) brightness(.5);
                        transition: filter .3s ease;
                    }

                    .accordion-header {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                    }

                    .accordion-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 0;
                        height: 100%;
                        text-wrap: nowrap;
                        transition: opacity .3s ease;
                        transition-delay: .3s;
                    }
                }

                &.active {
                    > div {
                        width: 50vw;

                        .accordion-content {
                            width: 100%;
                            text-wrap: wrap;
                        }

                        > img {
                            filter: grayscale(0) contrast(60%) brightness(.9);
                        }
                    }
                }
            }
        }
    }
}

.vertical-accordion-wrapper {
    margin-bottom: 3rem;

    @include media-breakpoint-up('tablet') {
        position: relative;
        width: 100%;
        height: calc(100vh - 5rem);
        overflow-x: scroll;
    }
}
