.bio-section {
    margin-bottom: 3rem;
    gap: 2rem;

    @include media-breakpoint-up('tablet') {
        display: flex;

        .section {
            flex: 0 0 60%;
            order: 1;
        }

        > p:has(img) {
            flex: 0 0 40%;
            max-width: 100%;
            order: 2;
            margin-bottom: -3rem;
        }
    }

    .section {
        > p {
            font-size: 1.25rem;
            font-weight: 300;
        }
    }

    p > img {
        max-width: 100%;
        height: auto;
    }
}
