body.frontpage {
    background: #375639;
    color: $light;

    .main-menu {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 4;

        svg path {
            fill: #fff;
        }

        * {
            --budgie-navbar-color: #fff;
            --budgie-nav-link-color: #fff;
            --budgie-nav-link-hover-color: #fff;
        }
    }

    .hero {
        padding: 5rem 0 3rem 0;

        &:after {
            display: block;
            position: absolute;
            top: 25%;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(0, #375639 0%, #37563900 100%);
            content: ' ';
            z-index: 2;
        }
    }

    p.lede {
        @include media-breakpoint-up('laptop') {
            margin-left: auto;
            margin-right: auto;
            max-width: 60vw;
            text-wrap: balance;
        }
    }

    .features-grid {
        margin: 0 1rem;

        @include media-breakpoint-up('laptop') {
            margin: 0 auto;
            max-width: 70vw;
        }
    }

    .features-cell {
        margin: -3rem 0 6rem !important;
        position: relative;
        z-index: 4;

        h2, h3 {
            a {
                text-decoration: none;
                color: $honey;
            }
        }

        p:last-child {
            margin-bottom: 0;
        }

        > div {
            padding: 2rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            background: $feature-bg;
            border-radius: $border-radius-sm;
            box-shadow: 0 .6rem .6rem #00000044;
            position: relative;
            overflow: hidden;
            text-wrap: balance;
        }

        h2, h3, p {
            position: relative;
            z-index: 2;
            text-align: center;
        }

        h2, h3 {
            font-size: 1.2rem;
            font-weight: $font-weight-bolder;
            letter-spacing: -.08rem;
            color: $accent;
        }

        p {
            font-size: 1.1rem;

            a {
                text-decoration: none;
                text-wrap: nowrap;
            }
        }
    }

    .section {
        h2, h3 {
            font-weight: $font-weight-bolder;
            letter-spacing: -.08rem;
        }
    }

    .bio-section, .impact-section {
        margin: 3rem 1rem;
        gap: 2rem;

        @include media-breakpoint-up('tablet') {
            margin: 3rem auto;

            h2 {
                margin-bottom: 2rem;
            }
        }

        .section {
            > p {
                font-size: 1.5rem;
                font-weight: 300;
            }
        }

        p > img {
            display: block;
            max-height: 30vh;
            margin: 0 auto;
            height: auto;
        }

        @include media-breakpoint-up('tablet') {
            display: flex;
            align-items: center;
            margin-top: 0;

            .section {
                flex: 0 0 60%;
                order: 1;
                padding: 0 6rem;
            }

            p > img {
                max-width: 100%;
                max-height: 100%;
            }

            > p:has(img) {
                flex: 0 0 40%;
                max-width: 100%;
                order: 2;
                margin-bottom: -3rem;
            }
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    .bio-section {
        @include media-breakpoint-up('tablet') {
            p > img {
                margin: 0 6rem 0 auto;
            }
        }
    }

    .impact-section {
        margin-top: 5rem;
        margin-bottom: 5rem;

        @include media-breakpoint-up('tablet') {
            gap: 3rem;

            .section {
                flex: 0 0 70%;
                order: 2;
            }

            > p:has(img) {
                flex: 0 0 25%;
                order: 1;
            }

            p > img {
                margin: 0 0 0 6rem;
            }
        }
    }

    .cta-section {
        text-align: center;

        @include media-breakpoint-up('tablet') {
            margin: 0 auto;
            width: 60%;
            padding: 2rem 0;
        }
    }

    .projects-grid {
        margin: 0 1rem;

        @include media-breakpoint-up('tablet') {
            margin: 0 auto;
            max-width: 80vw;
        }

        * {
            --budgie-gutter-x: 2.5rem;
            --budgie-gutter-y: 2.5rem;
        }
    }

    .projects-cell {
        > div {
            padding: 1rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            background: $feature-bg;
            border-radius: $border-radius-sm;

            @include media-breakpoint-up('tablet') {
                text-align: center;
                text-wrap: balance;
            }

            p:has(img) {
                order: -1;

                img {
                    margin: -1rem 0 0 -1rem;
                    width: calc(100% + 2rem);
                    object-fit: cover;
                    object-position: center;
                }
            }

            h2, h3 {
                font-size: 1.25rem;
                font-weight: $font-weight-bolder;

                a {
                    text-decoration: none;
                    color: $white;
                }
            }

            p > a {
                font-weight: $font-weight-bold;
                text-decoration: none;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }

        @include media-breakpoint-up('tablet') {
            &:first-child {
                rotate: -3deg;
                translate: 0 .5rem;
            }

            &:last-child {
                rotate: 3deg;
                translate: 0 .5rem;
            }
        }
    }

    .cta-section {
        margin: 0 1rem;

        @include media-breakpoint-up('tablet') {
            margin: 0 auto;
            max-width: 40vw;
        }
    }
}
