body.frontpage {
    .big-hero-wrapper {
        background: lighten($honey, 5);
        position: relative;
    }

    .big-hero {
        @include media-breakpoint-up('laptop') {
            > div {
                width: 50%;
            }

            img.feature {
                position: absolute;
                bottom: 0;
                right: 0;
                height: calc(100% + 16px);
            }
        }

        @include media-breakpoint-up('desktop') {
            > div {
                width: 55%;
            }

            img.feature {
                right: 10vw;
            }
        }
    }

    p.lede {
        @include media-breakpoint-up('laptop') {
            margin-left: 0;
            margin-right: auto;
            max-width: 60vw;
            text-wrap: balance;
        }
    }

    .features-cell {
        position: relative;
        z-index: 4;

        h2, h3 {
            a {
                text-decoration: none;
                color: $honey;
            }
        }

        p:last-child {
            margin-bottom: 0;
        }

        > div {
            padding: 2rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            background: $feature-bg;
            border-radius: $border-radius-sm;
            position: relative;
            overflow: hidden;
            text-wrap: balance;
        }

        h2, h3, p {
            position: relative;
            z-index: 2;
        }

        h2, h3 {
            font-size: 1.2rem;
            font-weight: $font-weight-bolder;
            color: $accent;

            a {
                color: $accent;
            }
        }

        p {
            font-size: 1.1rem;

            a {
                text-decoration: none;
                text-wrap: nowrap;
            }
        }
    }

    .features-section,
    .bio-section,
    .impact-section,
    .projects-section,
    .cta-section {
        margin: 3rem 0;
        position: relative;
        z-index: 2;
        @include make-container();

        @each $breakpoint, $container-max-width in $container-max-widths {
            @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
                $extend-breakpoint: true;

                @each $name, $width in $grid-breakpoints {
                    @if ($extend-breakpoint) {
                        &#{breakpoint-infix($name, $grid-breakpoints)} {
                            @extend %responsive-container-#{$breakpoint};
                        }

                        @if ($breakpoint == $name) {
                            $extend-breakpoint: false;
                        }
                    }
                }
            }
        }

        h2, h3 {
            font-weight: $font-weight-bolder;
        }
    }

    .bio-section, .impact-section {
        margin: 3rem auto;
        gap: 2rem;

        @include media-breakpoint-up('tablet') {
            margin: 6rem auto;

            h2 {
                margin-bottom: 1rem;
            }
        }

        .section {
            > p {
                font-size: 1.5rem;
                font-weight: 300;
            }
        }

        p > img {
            display: block;
            max-height: 30vh;
            margin: 0 auto;
            height: auto;
        }

        @include media-breakpoint-up('tablet') {
            display: flex;
            align-items: center;
            margin-top: 0;

            .section {
                flex: 0 0 60%;
                order: 1;
            }

            p > img {
                max-width: 100%;
                max-height: 100%;
            }

            > p:has(img) {
                flex: 0 0 40%;
                max-width: 100%;
                order: 2;
                margin-bottom: -3rem;
            }
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    .impact-wrapper {
        background: $light;
        padding: 3rem 0;
        margin: 0;
    }

    .impact-section {
        @include media-breakpoint-up('tablet') {
            gap: 3rem;

            .section {
                flex: 0 0 70%;
                order: 2;
            }

            > p:has(img) {
                flex: 0 0 25%;
                order: 1;
            }
        }
    }

    .projects-section {
        margin-top: -3rem;

        @include media-breakpoint-up('tablet') {
            margin-top: -6rem;
        }
    }

    .projects-grid {
        * {
            --budgie-gutter-x: 2.5rem;
            --budgie-gutter-y: 2.5rem;
        }
    }

    .projects-cell {
        > div {
            padding: 1rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            background: $feature-bg;
            border-radius: $border-radius-sm;

            @include media-breakpoint-up('tablet') {
                text-align: center;
                text-wrap: balance;
            }

            p:has(img) {
                order: -1;

                img {
                    margin: -1rem 0 0 -1rem;
                    width: calc(100% + 2rem);
                    object-fit: cover;
                    object-position: center;
                }
            }

            h2, h3 {
                font-size: 1.25rem;
                font-weight: $font-weight-bolder;
                color: $accent;

                a {
                    text-decoration: none;
                    color: $accent;
                }
            }

            p > a {
                font-weight: $font-weight-bold;
                text-decoration: none;
                text-wrap: nowrap;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }

        @include media-breakpoint-up('tablet') {
            &:first-child {
                rotate: -3deg;
                translate: 0 .5rem;
            }

            &:last-child {
                rotate: 3deg;
                translate: 0 .5rem;
            }
        }
    }

    .cta-section {
        margin: 0 1rem;
        text-align: center;

        @include media-breakpoint-up('tablet') {
            width: 60%;
            max-width: 40vw;
            padding: 2rem 0;
            margin: 0 auto;
        }
    }
}
