$variable-prefix: 'budgie-';
$enable-gradients: false;
$enable-transitions: true;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-cssgrid: false;
$enable-rfs: true;
$enable-validation-icons: false;
$enable-negative-margins: true;
$enable-deprecation-messages: false;
$enable-important-utilities: true;

$white: #fff;
$black: #000;
$light: #FFFCF6;
$feature-bg: #FFF0D1;
$accent: #9E363F;
$blue: #5388D7;
$indigo: #8F64D7;
$purple: #725A9E;
$pink: #B65A88;
$red: #B44A54;
$orange: #D7843F;
$yellow: #DEB12A;
$green: #4D7D67;
$teal: #4F9782;
$cyan: #7BC2D0;
$honey: #FFF0D1;

$body-bg: #FFFBF3;
$primary: #8E7BB1;
$nav-link-color: $accent;
$nav-link-hover-color: darken($nav-link-color, 10);
$min-contrast-ratio: 3.7;
$component-active-bg: $accent;
$border-radius: .2rem;
$border-radius-sm: .25rem;
$border-radius-lg: .5rem;
$border-radius-xl: 1rem;
$border-radius-xxl: 2rem;

$grid-breakpoints: (
    xs: 0,
    mobile: 576px,
    tablet: 768px,
    laptop: 992px
);

$container-max-widths: (
    mobile: 540px,
    tablet: 720px,
    laptop: 960px
);

$display-font-sizes: (
    1: 3rem,
    2: 2rem,
    3: 1.75rem,
    4: 1.5rem,
    5: 1.25rem,
    6: 1rem
);

$font-family-sans-serif: 'Poppins';
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;
$bootstrap-icons-font-dir: '../fonts';

$box-shadow: 0 .5rem 1rem rgba($black, .1);
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
$box-shadow-lg: 0 1rem 3rem rgba($black, .075);
$box-shadow-inset: inset 0 1px 2px rgba($black, .075);

$alert-border-width: 0;
$modal-content-border-width: 0;
